.form-container {
    margin: auto;
    width: 40vw;
    min-width: 350px;
    box-sizing: border-box;
}

.contact-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.15rem;
}

.contact-msg {
    min-width: calc(100% - 0.3rem);
    max-width: calc(100% - 0.3rem);

    margin: 0.15rem;
    margin-top: 0.6rem;
    box-sizing: inherit;
}

.contact-button {
    margin: 0.15rem;
    float: right;
}

.contact-button-container {
    display: flex;
    justify-content: flex-end;
}