.content-container {
    background-color: white;
    width: 60vw;
    margin: auto;
}

.tab {
    border-color: black;
    border-width: 1px;
    border-bottom-style: solid;
    height: 30px;
    padding: 0 0.7rem 0 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.drop-button {
    height: 80%;
    background-color: inherit;
    border: none;
    font-family:'Courier New', Courier, monospace;
    font-size: larger;
}

.drop-container-open, .drop-container-closed {
    overflow: hidden;
}

.drop-container-closed {
    height: 0px;
}