html {
    overflow-y: scroll;
}

body {
    background-image: url("./img/space.jpg");
    position: relative;
    scrollbar-gutter: stable both-edges;
}

p {
    margin: 0;
}

.content-body {
    background-color: rgba(6, 20, 47, 255);
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 65vw;
    height: auto;
    margin: auto;
    padding: 0.5rem;
}